#theApsoluteRealEmailField{
	display: none;
}

#casawpPropertyContactForm ul{
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

.casawp-hidden{
	display: none;
}


.casawp-map__placeholder {
  height: 400px;
  line-height: 400px;
  text-align: center;
  background-color: #eeeeee; }
