#theApsoluteRealEmailField{
	display: none;
}

#casawpPropertyContactForm ul{
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

.casawp-hidden{
	display: none;
}

.casawp-single-pagination .btn svg{
  height: 1em;
}

.casawp-map__placeholder {
  height: 400px;
  line-height: 400px;
  text-align: center;
  background-color: #eeeeee; }


.casadistance__placeholder {
height: 435px;
line-height: 435px;
text-align: center;
background-color: #eeeeee; }
@media (min-width: 992px) {
  .casadistance__placeholder {
    height: 785px;
    line-height: 785px; } }


.casawp-checkbox{
  position: relative;
}

.casawp-checkbox label{
  position: relative;
  padding-left: 30px;
}
#contactFormdataprotection{
  position: absolute;
  top: 6px;
  left: 0;
  margin-right: 30px;
  width: 18px;
  height: 18px;
}